body {
    background-image: url("../../assets/images/backgrounds/different-sushis-04.jpg");
    background-size: 100px;
}

img {
    max-width: 100%;
    height: auto;
}

.page-layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 59.768vw;
    min-width: 400px;
    max-width: 908px;
    height: auto;
    background-color: #EEEDEC;
    background-size: auto;
}
