.side-menu {
    float: left;
    width: 250px;
    display: table;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.non-default-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: "Atomic-Samurai", "Courier", "sans-seriff";
    font-size: 2.1em; /*2.1em == 33.5px*/
    display: table;
}

.menu-button {
    margin: 10px;
    border: 2px solid black;
    width: 70%;
    float: left;
}

a.menu-button:nth-of-type(2n+1) {
    clear: left;
}

a.menu-button:link, a.menu-button:visited {
    background-color: #EEEDEC;
    border: 5px #D03019 solid;
    border-radius: 10px;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.menu-button:hover, a.menu-button:active {
    background-color: #D03019;
    color: white;
    width: 75%
}

.main-content {
    float: right;
    width: 650px;
    height: auto;
    padding: 10px 10px;
}