body {
    background-image: url("../../assets/images/backgrounds/different-sushis-04.jpg");
    background-size: 100px;
}

img {
    max-width: 100%;
    height: auto;
}

.page-layout {
    position: absolute;
    width: 908px;
    height: auto;
    top: 0;
    left: 0;
    margin: 0px 40px 0px 40px;
    background-color: #EEEDEC;
    background-size: auto;
}
