@font-face {
    font-family: "Atomic-Samurai";
    src: url("../../Assets/fonts/AtomicSushi-gy41.ttf");
}

.top-bar {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin-bottom: 2px;
    background-image: url("../../assets/images/backgrounds/japan-flag.jpg");
    background-size: cover;
    opacity: 0.9;
}

.restaurant-icon {
    float: left;
    width: 30%;
    margin: 0px 10px;
    position: absolute;
    top: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 128px;

    box-sizing: border-box;
    border: 5px black solid;
    border-radius: 20px;
    transform: scaleX(-1);

    /*background-config*/
    background-image: url("../../assets/images/backgrounds/chopping-board.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: center;
    background-color: #CD2C18;
}

.restaurant-title {
    float: right;
    width: 70%;
    height: auto;
    font-family: "Atomic-Samurai", "Courier", "sans-seriff";
    font-size: 2.3em;
    text-align: right;
    padding-right: 10px;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px black;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

#restaurant-main-icon {
    width: 256px;
    height: 106.22px;
    transform: scaleX(-1);
}